* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #ffffffba;
    color: #000000;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}



.container {
    width: 1140px;
    /* background-color: yellow; */
    justify-content: center;
    margin: auto;
}
.container h2 {
    text-align: start;
    padding: 15px;
    font-size: bold;
}
.job-title {
    display: flex;
    justify-content: space-between;
}


.job-title .job-title-card {
    border: 1px solid #ffffff42;
    padding: 15px;
    width: 370px;
    margin: 5px;
    box-shadow: 1px 1px 5px #F1F1F1;
    text-align: start;
}

.total h3, .interview h3, .rejected h3 {
    font-size: 14px;
    color: #777777;
}
.total h4, .interview h4, .rejected h4 {
    font-size: 25px;
}

.total h4 {
    color: black;
}
.interview h4{
    color: green;
}
.rejected h4 {
    color: red;
}


.available-jobs {
    background-color: aquamarine;
    margin: 5px;
}

.available-jobs h2 {
    display: flex;
    justify-content: space-between;
}

#job-counter {
    font-size: small;
    color: #777777;
}


.available-jobs-button {
    justify-content: start;
    text-align: start;
    padding: 12px;
}
.available-jobs-button button {
    padding: 5px;
    border: none;
    
}

.available-jobs-button button:active {
    background-color: blue;
}


.job-content {
    background-color: beige;
    margin: 5px 5px;
}

.job-card {
    background-color: aqua;
    text-align: start;
    padding: 15px;
    margin: 5px auto;
}


.hidden {
    display: none;
}